
// === COLORS ===
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-font-dark: #777;
$color-font-light: #fff;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-background-light: #fff;