// === COLORS ===
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-font-dark: #777;
$color-font-dark-2: #999;
$color-font-light: #fff;
$color-font-light-2: #f7f7f7;

$color-shadow: rgba(0, 0, 0, 0.2);

$color-background-light: #fff;
$color-background-gray-1: #f7f7f7;
$color-background-gray-2: #eee;
$color-background-gray-3: #777;
$color-background-dark: #333;

// === LENGTH ===
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// === FONT SIZES ===
$fz-default: 1.6rem;

$fz-header-title: 6rem;
$fz-header-subtitle: 2rem;

$fz-heading-secondary: 3rem;
$fz-heading-tertiary: $fz-default;
$fz-paragraph: $fz-default;

$fz-footer: 1.4rem;

$fz-story: $fz-default;
$fz-story-caption: 1.7rem;

$fz-form-input: 1.5rem;
$fz-form-input-label: 1.2rem;
$fz-form-radio-label: $fz-default;

$fz-feature-box-icon: 6rem;

$fz-card: $fz-default;
$fz-card-heading: 2.8rem;
$fz-card-list-item: $fz-default;
$fz-card-price-value: 6rem;

$fz-btn: $fz-default;
$fz-btn-text: $fz-default;

$fz-popup-text: $fz-default;
